html
    include includes/header
    div#userListing
        h1 User Listing
        p#successMessage=successMessage
        p#errorMessage=errorMessage
        each user, index in users
            div.user
                div.userHead
                    h4=user.firstname + " " + user.lastname
                div.userDetails
                    p='User ID: ' + user.id
                    p='Email: ' + user.email
                    p='Age: ' + user.age
                form(method="post").userAction
                    input(type="hidden", name="username", value=user.id)
                    i(class='fas fa-trash', onclick='deleteUser(this)')
                    i(class='fas fa-pen', onclick='editUser(this)')
        if users.length < 1
            p No users
        a(href='/addUser').add
            h3 + Add User
